*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
body{
    background-image: url(https://cdn.wallpapersafari.com/19/47/O9T5n0.gif);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar-light .navbar-nav .nav-link.active{
    color: white !important; 
}
